{% if form %}
    {% do form.prepare() %}

    {{ form().openTag(form)|raw }}

    {{ ztbformelement(form.get('excel')) }}
    <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
            {{ ztbformelement(form.get('upload')) }}
        </div>
    </div>

    {{ form().closeTag()|raw }}
{% endif %}