{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-evaluation")) %}
{% do headTitle().append(translate("txt-edit-report-criterion-topic-%s")|format(topic)) %}

<h1>{{ translate("txt-edit-report-criterion-topic-%s")|format(topic) }}</h1>

{% include 'evaluation/partial/form/report/criterion/topic' %}
