{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-create-new-evaluation-report-criterion-category")) %}

<h1>{{ translate("txt-create-new-evaluation-report-criterion-category") }}</h1>

{% include 'evaluation/partial/form/report/criterion/category' %}