{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-evaluation")) %}
{% do headTitle().append(translate("txt-edit-report-criterion-%s")|format(criterion)) %}

<h1>{{ translate("txt-edit-%s")|format(criterion) }}</h1>

{% include 'evaluation/partial/form/report/criterion' %}
