{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-evaluation")) %}
{% do headTitle().append(translate("txt-edit-report-criterion-version-%s")|format(criterionVersion)) %}

{% if criterionVersion.criterion.archived %}
    {{ lbs5alert().info(translate("txt-criterion-'%s'-has-been-archived-and-should-only-be-used-for-historical-reasons")|format(criterionVersion.criterion))|raw }}
{% endif %}
<h1>{{ translate("txt-edit-%s")|format(criterionVersion) }}</h1>

{% include 'evaluation/partial/form/report/criterion/version' %}
