{% do headTitle().append(translate("txt-new-evaluation-report")) %}

<h1>{{ translate("txt-new-evaluation-report") }}</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active" href="#report" data-toggle="tab" role="tab">{{ translate("txt-evaluation-report") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#offline" data-toggle="tab" role="tab">{{ translate("txt-offline-template") }}</a></li>
    <li class="nav-item"><a class="nav-link" href="#project" data-toggle="tab" role="tab">{{ translate("txt-project") }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="report">
        {% include 'evaluation/report/partial/report-stats' with {'action': 'new'} %}
        {% include 'evaluation/partial/form/report' %}
    </div>
    <div class="tab-pane" role="tabpanel" id="offline">
        {% include 'evaluation/report/partial/offline' with {'action': 'new', 'form': uploadForm} %}
    </div>
    <div class="tab-pane" role="tabpanel" id="project">
        {% include 'evaluation/report/partial/project-basics' %}
    </div>
</div>