{% do headLink().appendStylesheet('//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css') %}
{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-evaluation")) %}
{% do headTitle().append(translate("txt-edit-report-window-%s")|format(window)) %}

<h1>{{ translate("txt-edit-report-window-%s")|format(window) }}</h1>

{% include 'evaluation/partial/form/report/window' %}
