{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-create-new-evaluation-report-window")) %}

<h1>{{ translate("txt-create-new-evaluation-report-window") }}</h1>

{% include 'evaluation/partial/form/report/window' %}